---
import BaseBody from '../body/base-body.astro';

// components
import MainLayout from '../components/layouts/main-layout';

// constants
import { PROFILE_ITEMS } from '../constants/profiles';

// icon
import MidIconLight from "../assets/icons/mid-icon-light-1.svg";

const TITLE = 'Home';
---

<BaseBody title={TITLE}>
	<MainLayout title={TITLE} client:load>
		<div class={`flex justify-center container mx-auto py-3`}>
			<div class="px-4 text-justify md:max-w-3xl">
	
				<div class="flex justify-center container mx-auto py-3">
					<img src={MidIconLight.src} class="block w-1/4" alt="Midlou logo" />
				</div>
				<div class="flex justify-center container mx-auto">
					<div class="font-mono text-lg">Midlou</div>
				</div>
	
				<p class="mb-6 mt-5 text-base">
					Hello there! My pseudonym is Midlou, I'm a Software engineer; Programmer;
					3D modeler and 3D printing;
					level designer; audio, video and image creator/editor;
					"<a href="https://www.urbandictionary.com/define.php?term=Gambiarra" class="stylized-link" target={"_blank"} rel={"noreferrer"}><i>Gambiarra</i></a>" professional.
					I speak Brazilian Portuguese and English.
				</p>
				
				<div class="text-center">
					{
						PROFILE_ITEMS.map((item, index) => {
							return <span>
								<a href={item.link} target={"_blank"} rel={"noreferrer"} tab-index={0} class="default-focus-light underline text-blue-400 hover:text-blue-500">
									{item.label}
								</a>
								{ 
									PROFILE_ITEMS.length - 1 == index 
										? null 
										: <span class="mx-1">•</span>
								}
							</span>
						})
					}
				</div>
			</div>
		</div>
	</MainLayout>
</BaseBody>

